.mynavbar{
background-color: rgb(250, 207, 152);
padding: 20px;
display: flex;
justify-content: space-between;
border-radius: 50px;
 
}
.mynavitems{
text-decoration: none;
list-style: none;


}
.unorderedlist{
    display: flex;
    gap: 50px;
    
}
a{
    text-decoration: none;
    
}
.mylogo{
    height: auto;
    width: auto;
}
.h2,h3,h4{
    color: rgb(49, 20, 214);
}


 #home{
    background-image: url("images/download.jfif");
background-repeat:no-repeat;
padding: 50px;
background-position: center;
background-size : cover;
margin-top: 20px;
color:black ;
text-align: center;
}
#about{
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: whitesmoke;

}
#contact{
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 20PX;
}

.aob{background-color: whitesmoke
}

.footer{
   font-style: italic;
   color: rgb(64, 14, 245);
   background-color: rgb(250, 207, 152);
}
.mydivisions{
    background: rgb(240, 225, 197);
    text-align: center;
    border-radius: 50px;
   box-shadow: darkgoldenrod;
}
    